@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./react-tags.css');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  /* @font-face {
    font-family: 'BakudaiMedium';
    font-display: block;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Bakudai-Medium.woff') format('woff');
  } */
  .ql-editor {
    .ql-video {
      display: block;
      max-width: 100%;
      width: 100%;
      aspect-ratio: 16/9;
    }
    ul {
      padding-left: 0 !important;
      list-style-type: disc !important;
      list-style-position: inside !important;
    }
    ol {
      padding-left: 0 !important;
      list-style-type: decimal !important;
      list-style-position: inside !important;
    }
  }
}

.flip-card-container {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  .card {
    perspective: 1000px;
  }
  .front, .back{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
  }
  .front {
    position: absolute;
    backface-visibility: hidden;
  }
  .back {
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
}

.flip-card-container.flipped {
  transform: rotateY(180deg);
  .front {
    backface-visibility: hidden;
    overflow: hidden;
  }
  .back {
    backface-visibility: visible;
  }
}

@keyframes borderBling {
  from {
    stroke-dashoffset: 150;
  }

  to {
    stroke-dashoffset: -480;
  }
}

.border-aniamated-button {
  .border {
    position: absolute;
    left: 0;
    top: 0;
    fill: transparent;
    stroke: #fff;
    stroke-dasharray: 150 480;
    
    animation-duration: 1.5s;
    animation-name: borderBling;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }
}
